.whole-back {
  background-image: url("pic/wholeback.png");
  background-repeat: no-repeat; /* 避免背景图重复平铺 */
  background-size: 100% 110%; /* 覆盖容器，按比例拉伸，可能裁剪 */
  background-position: center; /* 背景图居中显示 */
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.rank-list {
  background-image: url("pic/rankback.png");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: center;
  margin-left: 250px;
  width: 320px;
  height: 700px;
  background-color: rgba(231, 222, 197, 0.89);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  text-align: center;
  color: #482d24;
  font-weight: 700;
}
.rank-title {
  width: 150px;
  height: 40px;
  color: #482d24;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  padding: 10px;
}

.rank-item {
  color: rgb(80, 5, 9);
}

.list {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.list-common {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 500px;
}
.whole {
  background-image: url("pic/gameWhole.png");
  background-repeat: no-repeat; /* 避免背景图重复平铺 */
  background-size: 100% 100%; /* 覆盖容器，按比例拉伸，可能裁剪 */
  background-position: center; /* 背景图居中显示 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 600px;
}

.gameName {
  color: #482d24;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.scoreEvaluate {
  display: flex;
  width: 500px;
}

.common {
  flex: 1;
  background-color: #482d24;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(231, 222, 197, 0.89);
  font-size: 40px;
}

.new-game {
  height: 50px;
  width: 150px;
  color: rgb(187, 167, 167);
  /* rgb(151, 98, 79) */
  background-color: #482d24;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 20px;
}

.nine-grid {
  background-image: url("pic/backimg.png");
  background-repeat: no-repeat; /* 避免背景图重复平铺 */
  background-size: 100% 110%; /* 覆盖容器，按比例拉伸，可能裁剪 */
  background-position: center; /* 背景图居中显示 */
  margin-top: 20px;
  width: 300px;
  flex-wrap: wrap;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  /* background-color: #482d24; */
}

.square {
  width: 65px;
  height: 65px;
  margin: 5px;
  background-color: rgba(231, 222, 197, 0.89);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squre-dark {
  background-color: rgb(106, 66, 66);
}
/*height: 70px;故意设置比以前大一点  */
.square-num {
  width: 65px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
  /* animation: scaleUp 0.05s ease-out forwards; */
  transition: transform 0.3s ease-out;
  color: rgb(86, 86, 86);
}

.random-num {
  animation: scaleUp 0.1s ease-out forwards;
}

@keyframes scaleUp {
  10% {
    width: 0px;
    height: 0px;
  }

  80% {
    width: 105px;
    height: 105px;
  }

  100% {
    width: 65px;
    height: 70px;
  }
}

.num-2 {
  background-color: #ebdfd2;
}

/* 2的颜色（浅色背景，深色文字） */
.num-4 {
  background-color: #ebc26f;
}

.num-8 {
  background-color: #f2b179;
}

.num-16 {
  background-color: #f59563;
}

.num-32 {
  background-color: #f67c5f;
}

.num-64 {
  background-color: #f65e3b;
}

.num-128 {
  background-color: #edcf72;
}

.num-256 {
  background-color: #edcc61;
}

.num-512 {
  background-color: #ed61da;
}

.num-1024 {
  background-color: #4841a6;
}

.num-2048 {
  background-color: #460303;
}
