.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameName {
    color: #7e7931;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.scoreEvaluate {
    display: flex;
    width: 500px;
}

.common {
    flex: 1;
    background-color: #b19d79;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.score {
    font-size: 60px;
    color: white;
}

.history-best {
    font-size: 60px;
    color: white;
}

.new-game {
    height: 50px;
    width: 150px;
    color: white;
    background-color: rgb(151, 98, 79);
    border-radius: 10px;
    border: 1px solid black;
}

.nine-grid {
    margin-top: 20px;
    width: 330px;
    flex-wrap: wrap;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    background-color: #bbada0;
}

.square {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: rgba(231, 222, 197, 0.89);
    border-radius: 10px;
}
 .squareTwo {
        background-color: rgba(213, 194, 142, 0.89);
    }